.card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    width: 20lh;
    height: 10lh;
    background-color: #0070f3;
    color: white;
}

.input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 10px;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

.button:active {
    transform: scale(1.3);
  }